@import "tailwindcss";
@import "@nuxt/ui";

.content-body {
  /* padding-inline: 2rem; */
  border-radius: 0.5rem;
  /* line-height: 1.6; */
  /* font-size: 1rem; */
  /* --text-sm: 0.75rem; */
}

.dark .content-body {
  color: #d4d4d4;
}

.content-body p {
  margin-bottom: 1rem;
}

.content-body a:not(h1 a, h2 a, h3 a, h4 a, h5 a, h6 a) {
  text-decoration: underline;
}

.content-body ul,
.content-body ol {
  @apply list-disc list-inside pl-5;
}

.content-body pre {
  @apply p-4 bg-elevated rounded-sm overflow-x-auto border border-muted text-sm;
}

.content-body code:not(pre code) {
  display: inline-block;
  background-color: var(--color-bg-elevated);
  line-height: 110%;
  @apply border border-muted rounded-sm px-0.5 py-0 font-mono;
}

/* (#) Headings */

.content-body h1,
.content-body h2,
.content-body h3,
.content-body h4,
.content-body h5,
.content-body h6 {
  position: relative;
}

.content-body h1 {
  @apply text-4xl font-bold mt-8 mb-4;
}
.content-body h2 {
  @apply text-3xl font-semibold mt-7 mb-3;
}
.content-body h3 {
  @apply text-2xl font-semibold mt-6 mb-2;
}
.content-body h4 {
  @apply text-xl font-medium mt-5 mb-2;
}
.content-body h5 {
  @apply text-lg font-medium mt-4 mb-1;
}
.content-body h6 {
  @apply text-base font-medium mt-3 mb-1;
}

.content-body h1 a::before,
.content-body h2 a::before,
.content-body h3 a::before,
.content-body h4 a::before,
.content-body h5 a::before,
.content-body h6 a::before {
  content: "#";
  @apply absolute -left-[1.8rem] text-muted;
  opacity: 0;
  transform: translateX(-4px);
  transition:
    opacity 0.3s,
    transform 0.3s;
}

.content-body h1 a:hover::before,
.content-body h2 a:hover::before,
.content-body h3 a:hover::before,
.content-body h4 a:hover::before,
.content-body h5 a:hover::before,
.content-body h6 a:hover::before {
  opacity: 1;
  transform: translateX(0);
}

/* Table Styles Reset */
.content-body table {
  border-collapse: collapse;
  border-spacing: 0;
  @apply rounded overflow-hidden;
}
.content-body th,
.content-body td {
  text-align: left;
  vertical-align: top;
  @apply p-2 py-0.5 bg-elevated border border-muted;
}
.content-body th {
  font-weight: 600;
}
