@import "tailwindcss";
@import "@nuxt/ui";

/* light mode variables */
:root {
  --ui-bg: var(--color-zinc-100);
  --ui-bg-elevated: var(--color-white);
  --ui-fg: var(--color-zinc-900);
  --ui-info: var(--ui-color-info-500);
  --font-mono: "Roboto Mono", monospace;
}

/* dark mode variables */
.dark {
  --ui-bg: #0e0e0f;
  --ui-bg-elevated: #131314;
  --ui-fg: var(--color-zinc-100);
  --ui-info: var(--ui-color-info-300);
  --ui-border-muted: var(--ui-color-neutral-800);
}

@theme static {
  --color-bg: var(--ui-bg);
  --color-fg: var(--ui-fg);
  --color-bg-elevated: var(--ui-bg-elevated);
  --color-fg-link: var(--ui-fg-link);
}

:root {
  --container-small: 850px;
  --container-medium: 1000px;
  --container-large: 1200px;
}

body {
  min-height: 100vh;
}

.section-padding {
  @apply py-16 sm:py-20 lg:py-24;
}
